h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: underline;
  background-color: rgb(212, 199, 182);
  font-family: 'Times New Roman', Times, serif;
  display: inline-block;
}

.card {
  border: 2px solid rgb(65, 56, 42);
  box-shadow: 2px 2px rgb(100, 86, 67);
  height: 100px;
  width: 80px;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  display: inline-block;
  text-align: center;
  line-height: 90px;
  border-radius: 5px;
  margin: 10px;
  background-image: url(osz.jpg);
  color: beige;
}

body {
  background-color: bisque;
}

h3 {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  display: inline-block;
}

p {
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}

div {
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}
